<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>NopCommerce Login Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6e7bab">  <td>20/04/05 00:44:46</td>   <td>0</td> <td title="&gt;&gt;Test_BaseForBrowser.openApp()[pri:0, instance:testWeb.LoginTest@611889f4]">&gt;&gt;openApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1116094714</td>   <td></td> </tr>
<tr bgcolor="a7bfbc">  <td>20/04/05 00:45:10</td>   <td>24025</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.OpenBrowser()[pri:0, instance:testWeb.LoginTest@611889f4]">OpenBrowser</td> 
  <td>main@1116094714</td>   <td></td> </tr>
<tr bgcolor="6e7bab">  <td>20/04/05 00:45:23</td>   <td>36461</td> <td title="&lt;&lt;Test_BaseForBrowser.close()[pri:0, instance:testWeb.LoginTest@611889f4]">&lt;&lt;close</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1116094714</td>   <td></td> </tr>
</table>
