<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="61bef5">  <td>20/04/04 21:25:09</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.OpenBrowser()[pri:0, instance:testWeb.LoginTest@4d5b6aac]">OpenBrowser</td> 
  <td>main@1526970878</td>   <td></td> </tr>
<tr bgcolor="78b3da">  <td>20/04/04 21:25:20</td>   <td>11178</td> <td title="&lt;&lt;Test_BaseForBrowser.close()[pri:0, instance:testWeb.LoginTest@4d5b6aac]">&lt;&lt;close</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1526970878</td>   <td></td> </tr>
<tr bgcolor="78b3da">  <td>20/04/04 21:24:44</td>   <td>-24410</td> <td title="&gt;&gt;Test_BaseForBrowser.openApp()[pri:0, instance:testWeb.LoginTest@4d5b6aac]">&gt;&gt;openApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1526970878</td>   <td></td> </tr>
</table>
